{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    <div class="graphic">
        <table id="school-table">
            <thead>
                <tr>
                    <th class="sort-header">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_school }}</div>
                    </th>
                    <th class="sort-header">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_policy }}</div>
                    </th>
                    <th class="sort-header">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_consent }}</div>
                    </th>
                    <th class="sort-header">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_update }}</div>
                    </th>
                </tr>
            </thead>

            {% for row in COPY.data %}
            <tr class="school-{{ row.school|classify }}">
                <td data-title="{{ COPY.labels.hdr_school }}" class="table-bold {{ COPY.labels.class_school }}">{{ row.school }}</td>
                <td data-title="{{ COPY.labels.hdr_policy }}" class="{{ COPY.labels.class_policy }}">{{ row.policy }}</td>
                <td data-title="{{ COPY.labels.hdr_consent }}" class="{{ COPY.labels.class_consent }}">{{ row.consent }}</td>
                <td data-title="{{ COPY.labels.hdr_update }}" class="{{ COPY.labels.class_update }}">{{ row.update }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}

{% block js %}


    {{ JS.push('js/lib/tablesort.js') }}
    {{ JS.push('js/lib/tablesort.number.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
