{% extends 'base_template.html' %}

{% block content %}

<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/d/u/0/embed?mid=zLgH6FU3mvak.kexER3zI3TIM' width='640' height='480'></iframe></div>

{% endblock content %}
