{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    {% if COPY.labels.headline_1 %}<h2>{{ COPY.labels.headline_1|smarty }}</h2>{% endif %}
    <div class="key">
        <div class="key-item">
                <b class="centene"></b><label>Counties Centene plans to enter</label>
        </div>
    </div>
    <div id="graphic1" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>

    {% if COPY.labels.headline2 %}<h2>{{ COPY.labels.headline2|smarty }}</h2>{% endif %}
    {% if COPY.labels.subhed2 %}<p>{{ render(COPY.labels.subhed2)|smarty }}</p>{% endif %}
    <div class="key">
        <div class="key-item">
                <b class="insurers-1"></b><label>1 insurer</label>
        </div>
        <div class="key-item">
            <b class="insurers-2"></b><label>2 or more insurers</label>
        </div>
</div>
    <div id="graphic2" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>

    {% if COPY.labels.headline3 %}<h2>{{ COPY.labels.headline3|smarty }}</h2>{% endif %}
    {% if COPY.labels.subhed3 %}<p>{{ render(COPY.labels.subhed3)|smarty }}</p>{% endif %}
    <div class="key">
        <div class="key-item">
                <b class="insurers-1"></b><label>1 insurer</label>
        </div>
        <div class="key-item">
            <b class="insurers-2"></b><label>2 or more insurers</label>
        </div>
</div>
    <div id="graphic3" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>



    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
