{% extends 'base_template.html' %}

{% block content %}
    {% for row in COPY.data %}
        <div class="section section-{{ row.section }}">
            {% if row.sub %}
                <p class="sub">{{ row.sub }}</p>
            {% endif %}
            {% if row.main %}
                <p class="main">{{ row.main }}</p>
            {% endif %}
            {% if row.main_2 %}
                <p class="main">{{ row.main_2 }}</p>
            {% endif %}
            {% if row.instruction %}
                <p class="instruction">{{ row.instruction }}
                </p>
            {% endif %}
            {% if row.code %}
                <div class="code">
                    {% include row.code %}
                </div>
            {% endif%}
        </div>
    {% endfor %}

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
