[submodule "dailygraphics-archive-2014"]
	path = dailygraphics-archive-2014
	url = https://github.com/stlpublicradio/dailygraphics-archive-2014
[submodule "dailygraphics-archive-2015"]
	path = dailygraphics-archive-2015
	url = https://github.com/stlpublicradio/dailygraphics-archive-2015
[submodule "dailygraphics-archive-2016"]
	path = dailygraphics-archive-2016
	url = https://github.com/stlpublicradio/dailygraphics-archive-2016
[submodule "dailygraphics-archive-2017"]
	path = dailygraphics-archive-2017
	url = https://github.com/stlpublicradio/dailygraphics-archive-2017
[submodule "dailygraphics-archive-2018"]
	path = dailygraphics-archive-2018
	url = https://github.com/stlpublicradio/dailygraphics-archive-2018
[submodule "dailygraphics-archive-2019"]
	path = dailygraphics-archive-2019
	url = https://github.com/stlpublicradio/dailygraphics-archive-2019
[submodule "dailygraphics-archive-2020"]
	path = dailygraphics-archive-2020
	url = https://github.com/stlpublicradio/dailygraphics-archive-2020
[submodule "dailygraphics-archive-2021"]
	path = dailygraphics-archive-2021
	url = https://github.com/stlpublicradio/dailygraphics-archive-2021
