{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    <h2>Pre-K</h2>
    <div id="pre-k" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>
    <div id="pre-k-race" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>

    <h2>Elementary (K-8)</h2>
    <div id="elem" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>
    <div id="elem-race" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>

    <h2>High School</h2>
    <div id="high" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>
    <div id="high-race" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

    <script type="text/javascript">
        var DATA = {{ COPY.data.json() }};
        var DATA_ELEM = {{ COPY.data_elem.json() }};
        var DATA_HIGH = {{ COPY.data_high.json() }};
        var DATA_RACE = {{ COPY.data_race.json() }};
        var DATA_ELEM_RACE = {{ COPY.data_elem_race.json() }};
        var DATA_HIGH_RACE = {{ COPY.data_high_race.json() }};

    </script>

{% endblock content %}
