{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    {% for row in COPY.seasons %}
    <h2>{{row.year}}</h2>
    {% if row.text %}
    {{ row.text}}
    {% endif %}
    <div id="line-chart-{{row.season}}" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>
    {% endfor %}
    <h2>Post-Retirement</h2>
    <p>{{COPY.labels.timeline_end_1}}</p>
    <p>{{COPY.labels.timeline_end_2}}</p>
    <p>{{COPY.labels.timeline_end_3}}</p>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

    <script type="text/javascript">
        var DATA_86 = {{ COPY.season_86.json() }};
        var DATA_87 = {{ COPY.season_87.json() }};
        var DATA_88 = {{ COPY.season_88.json() }};
        var DATA_89 = {{ COPY.season_89.json() }};
        var DATA_90 = {{ COPY.season_90.json() }};
        var DATA_91 = {{ COPY.season_91.json() }};
        var DATA_92 = {{ COPY.season_92.json() }};
        var DATA_93 = {{ COPY.season_93.json() }};
        var DATA_94 = {{ COPY.season_94.json() }};
        var DATA_95 = {{ COPY.season_95.json() }};
        var DATA_96 = {{ COPY.season_96.json() }};
        var DATA_97 = {{ COPY.season_97.json() }};
        var DATA_98 = {{ COPY.season_98.json() }};
        var DATA_99 = {{ COPY.season_99.json() }};
        var DATA_00 = {{ COPY.season_00.json() }};
        var DATA_01 = {{ COPY.season_01.json() }};
    </script>

{% endblock content %}
