@import url("http://fonts.googleapis.com/css?family=Titillium+Web:200,400,700,200italic");

body {
    background: #eee;
}

.container {
    margin: 10px 20px;
    border: 2px solid #ccc;
    background: #fff;
    padding: 20px;
    font-family: 'Titillium Web', Arial,Helvetica,sans-serif;
    font-size: 16px;
    color: #353535;
    line-height: 1.5em;
}

.body-embed {
	background:#fff;
}

div.embed {
	width: 560px;
	margin: 0px;
	border: none;
}

.navbar {
	background:#bf311a;
}

.navbar-default .navbar-nav .active a {
	background-color:#ef614a;
}

.navbar-default .navbar-nav .active a:hover {
	background-color:#ff816a;
}

h1,h2,h3,h4,h5,h6 {font-weight: 700;}

h1 {
    font-size: 26px;
    margin: 0 0 20px;
    color: #006c8e;
}
h2 {
    font-size: 22px;
    margin: 15px 0;
}
h3 {
    font-size: 18px;
    margin: 15px 0 10px;
}
h4 {
    font-size: 16px;
    margin: 10px 0;
}
h5 {
    font-size: 14px;
    margin: 10px 0 5px;
}
h6 {
    font-size: 12px;
    margin: 5px 0;
}

strong { font-weight: 700; }
em { font-style: italic; }
ul { list-style-type: circle; }
ol { list-style-type: decimal; }
ol li { list-style-type: decimal; margin-left: 20px; }

.button {
    float: left;
    width: auto;
    padding: 5px 15px;
    color:#ffffff;
    background-color:#cc203b;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	text-decoration: none;
}
.button:hover {
    background-color: #f1bb4f;
}

.startQuiz {
    margin-top: 40px;
}

.tryAgain {
    margin: 20px 0;
}

/* clearfix */
.quizArea, .quizResults {
    zoom: 1;
}
.quizArea:before, .quizArea:after, .quizResults:before, .quizResults:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.quizArea:after, .quizResults:after {
    clear: both;
}

.questionCount {
    font-size: 14px;
    font-style: italic;
}
.questionCount span {
    font-weight: bold;
}

ol.questions {
    margin-top: 20px;
    margin-left: 0;
}
ol.questions li {
    margin-left: 0;
}

ul.answers {
    margin-left: 20px;
    margin-bottom: 20px;
}

ul.responses li {
    margin: 10px 20px 20px;
}
ul.responses li p span {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
ul.responses li.correct p span {
    color: #6C9F2E;
}ul.responses li.incorrect p span {
    color: #B5121B;
}

.quizResults h3 {
    margin: 0;
}
.quizResults h3 span {
    font-weight: normal;
    font-style: italic;
}
.quizResultsCopy {
    clear: both;
    margin-top: 20px;
}

/** -- Quiz styling -- **/
.button {
    float: left;
    width: auto;
    padding: 5px 15px;
    color:#ffffff;
    background-color:#cc203b;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	text-decoration: none;
}
.button:hover {
    background-color: #f1bb4f;
}

.quizArea:before, .quizArea:after, .quizResults:before, .quizResults:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.quizArea:after, .quizResults:after {
    clear: both;
}

.questionCount {
    font-size: 14px;
    font-style: italic;
}
.questionCount span {
    font-weight: bold;
}

ol.questions {
    margin-top: 20px;
    margin-left: 0;
}
ol.questions li {
    margin-left: 0;
}

ul.answers {
    margin: 20px 20px 0px 20px;
}

ul.responses li {
    margin: 10px 20px 20px;
}
ul.responses li p span {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
ul.responses li.correct p span {
    color: #6C9F2E;
}ul.responses li.incorrect p span {
    color: #B5121B;
}

.quizResults h3 {
    margin: 0;
}
.quizResults h3 span {
    font-weight: normal;
    font-style: italic;
}
.quizResultsCopy {
    clear: both;
    margin-top: 20px;
}

.quizArea, .quizResults {
    zoom: 1;
}

body {
	background: #ddd;
}
