{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    <div class="graphic">
        <table id="stops-table">
            <thead>
                <tr>
                    <th rowspan="2">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_dept }}</div>
                    </th>
                    <th class="header-cat" colspan="3">
                        <div class="header">{{ COPY.labels.hdr_stops }}</div>
                    </th>
                    <th class="header-cat" colspan="3">
                        <div class="header">{{ COPY.labels.hdr_pct_searches }}</div>
                    </th>
                    <th class="header-cat" colspan="3">
                        <div class="header">{{ COPY.labels.hdr_pct_finds }}</div>
                    </th>
                </tr>
                <tr>
                    <th class='total'>
                        <div class="sorter"><div class="icon"></div></div>
                        Total
                    </th>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        Black
                    </th>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        White
                    </th>
                    <th class='total'>
                        <div class="sorter"><div class="icon"></div></div>
                        Total
                    </th>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        Black
                    </th>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        White
                    </th>
                    <th class='total'>
                        <div class="sorter"><div class="icon"></div></div>
                        Total
                    </th>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        Black
                    </th>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        White
                    </th>
            </thead>

            {% for row in COPY.data %}
            <tr class="{{ row.dept|classify }}">
                <td data-title="{{ COPY.labels.hdr_dept }}">{{ row.dept }}</td>
                <td data-title="{{ COPY.labels.hdr_stops }} (Total)" class="stop total amt">{{ row.total_stops|comma }}</td>
                <td data-title="{{ COPY.labels.hdr_stops }} (Black)" class="stop black amt">{{ row.total_stops_black|comma }}</td>
                <td data-title="{{ COPY.labels.hdr_stops }} (White)" class="stop white amt">{{ row.total_stops_white|comma }}</td>
                <td data-title="{{ COPY.labels.hdr_pct_searches }} (Total)" class="search total amt">{{ row.pct_searches|pct }}</td>
                <td data-title="{{ COPY.labels.hdr_pct_searches }} (Black)" class="search black amt">{{ row.pct_searches_black|pct }}</td>
                <td data-title="{{ COPY.labels.hdr_pct_searches }} (White)" class="search white amt">{{ row.pct_searches_white|pct }}</td>
                <td data-title="{{ COPY.labels.hdr_pct_finds }} (Total)" class="find total amt">{{ row.pct_finds|pct }}</td>
                <td data-title="{{ COPY.labels.hdr_pct_finds }} (Black)" class="find black amt">{{ row.pct_finds_black|pct }}</td>
                <td data-title="{{ COPY.labels.hdr_pct_finds }} (White)" class="find white amt">{{ row.pct_finds_white|pct }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

<!-- <script>
    new Tablesort(document.getElementById('stops-table'));
</script> -->

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/tablesort.js') }}
    {{ JS.push('js/lib/tablesort.numeric.js') }}
    {{ JS.push('js/lib/pym.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
