{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1 class="hed-main">{{ COPY.labels.headline }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p class="lede-main">{{ render(COPY.labels.subhed) }}</p>{% endif %}

    <div class="section">
        <h2 class="hed">{{ COPY.labels.section_1_hed }}</h2>
        <p class="lede">{{ COPY.labels.section_1_lede }}</p>

        {% for row in COPY.section_1 %}
        <div class="fact">
            <div class="number"><span>{{ row.number }}</span></div>
            <p class="explain">{{ row.explain }}</p>
        </div>
        {% endfor %}
        <div id="graphic_1" class="graphic">
            <img src="fallback_1.png" alt="[Chart]" class="fallback" />
        </div>
    </div>
    <div class="section">
        <h2 class="hed">{{ COPY.labels.section_2_hed }}</h2>
        <p class="lede">{{ COPY.labels.section_2_lede }}</p>

        {% for row in COPY.section_2 %}
        <div class="fact">
            <div class="number"><span>{{ row.number }}</span></div>
            <p class="explain">{{ row.explain }}</p>
        </div>
        {% endfor %}
        <div id="graphic_2" class="graphic">
            <img src="fallback_2.png" alt="[Chart]" class="fallback" />
        </div>
    </div>
    <div class="section">
        <h2 class="hed">{{ COPY.labels.section_3_hed }}</h2>
        <p class="lede">{{ COPY.labels.section_3_lede }}</p>

        {% for row in COPY.section_3 %}
        <div class="fact">
            <div class="number"><span>{{ row.number }}</span></div>
            <p class="explain">{{ row.explain }}</p>
        </div>
        {% endfor %}
        <div id="graphic_3" class="graphic">
            <img src="fallback_3.png" alt="[Chart]" class="fallback" />
        </div>
    </div>
    <div class="section">
        <h2 class="hed">{{ COPY.labels.section_4_hed }}</h2>
        <p class="lede">{{ COPY.labels.section_4_lede }}</p>

        {% for row in COPY.section_4 %}
        <div class="fact">
            <div class="number"><span>{{ row.number }}</span></div>
            <p class="explain">{{ row.explain }}</p>
        </div>
        {% endfor %}
        <div id="graphic_4" class="graphic">
            <img src="fallback_4.png" alt="[Chart]" class="fallback" />
        </div>
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit }}</p>{% endif %}
    </div>

{% endblock content %}
