{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    <h2>Democratic candidates</h2>
    <div id="bar-chart" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>

    <h2>Republican candidates</h2>
    <div id="bar-chart-rep" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

    <script type="text/javascript">
        var DATA = {{ COPY.data.json() }};
        var DATA_REP = {{ COPY.data_rep.json() }};
    </script>

{% endblock content %}
