<!DOCTYPE html>
<html lang="en">

<head>
    <title>Graphic : STLPR</title>

    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="js/d3-tip.js"></script>
    
    <style type="text/css">
    /* base styles */
	@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic|Titillium+Web:700,400,300);

    /* base styles */
    html { -webkit-text-size-adjust: none; }
    body {
        margin: 0;
        padding: 0;
        font: 12px/1.4 'Titillium Web', Helvetica, sans-serif;
        color: #333;
    }
        h1 {
            margin: 20px 0 6px 0;
            font-size: 14px;
            color: #333;
        }
        h2 {
            font-weight: normal;
            color: #666;
            font-size: 12px;
            margin: 0 0 5px 0;
        }
        .footnotes { margin-bottom: 20px; }
        .footnotes h4 {
            margin: 2px 0 7px 0;
            color: #666;
            font-size: 11px;
        }
        .footnotes p,
        .footer p {
            margin: 2px 0 0 0;
            font-size: 11px;
            line-height: 1.3;
            color: #808080;
        }
        a, a:link, a:visited {
            color: #4774CC;
            text-decoration: none;
        }
        a:hover, a:active { opacity: 0.7; }
		
	    .axis path,
	    .axis line {
	      fill: none;
	      stroke: #000;
	      shape-rendering: crispEdges;
	    }

	    .bar:hover {
	      fill: #bcbcbc ;
	    }

	    .x.axis path {
	      display: none;
	    }
		
		.avg {
			stroke: #333;
			stroke-width: 1px;
		}

	    .d3-tip {
	      line-height: 1;
	      font-weight: bold;
	      padding: 12px;
	      background: rgba(0, 0, 0, 0.8);
	      color: #efefef;
	      border-radius: 2px;
	    }

	    /* Creates a small triangle extender for the tooltip */
	    .d3-tip:after {
	      box-sizing: border-box;
	      display: inline;
	      font-size: 10px;
	      width: 100%;
	      line-height: 1;
	      color: rgba(0, 0, 0, 0.8);
	      content: "\25BC";
	      position: absolute;
	      text-align: center;
	    }

	    /* Style northward tooltips differently */
	    .d3-tip.n:after {
	      margin: -1px 0 0 0;
	      top: 100%;
	      left: 0;
	    }
    </style>

</head>
<body>
    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ COPY.labels.subhed }}</h2>{% endif %}

    <div id="graphic"></div>
	
    {% if COPY.labels.unemploymenthed %}<h1>{{ COPY.labels.unemploymenthed }}</h1>{% endif %}
    {% if COPY.labels.unemployment %}<h2>{{ COPY.labels.unemployment }}</h2>{% endif %}
    <div id="unemployment"></div>
    
    {% if COPY.labels.rentalhed %}<h1>{{ COPY.labels.rentalhed }}</h1>{% endif %}
    {% if COPY.labels.rental %}<h2>{{ COPY.labels.rental }}</h2>{% endif %}
    <div id="rental"></div>
    
    {% if COPY.labels.infanthed %}<h1>{{ COPY.labels.infanthed }}</h1>{% endif %}
    {% if COPY.labels.infant %}<h2>{{ COPY.labels.infant }}</h2>{% endif %}
    <div id="infant"></div>
	
    
    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit }}</p>{% endif %}
    </div>
	
	<script type="text/javascript">

	var margin = {top: 10, right: 5, bottom: 50, left: 5},
	    width = 80 - margin.left - margin.right,
	    height = 150 - margin.top - margin.bottom;

    	var unemploy_margin = {top: 10, right: 5, bottom: 50, left: 5},
    	    unemploy_width = 80 - unemploy_margin.left - unemploy_margin.right,
    	    unemploy_height = 150 - unemploy_margin.top - unemploy_margin.bottom;
	    
        	var rental_margin = {top: 10, right: 5, bottom: 50, left: 5},
        	    rental_width = 80 - rental_margin.left - rental_margin.right,
        	    rental_height = 150 - rental_margin.top - rental_margin.bottom;
		    
            	var infant_margin = {top: 10, right: 5, bottom: 50, left: 5},
            	    infant_width = 80 - infant_margin.left - infant_margin.right,
            	    infant_height = 150 - infant_margin.top - infant_margin.bottom;

	var formatScore = d3.format(".0");
	
	var formatPercent = d3.format(".0");

	var color = d3.scale.threshold()
		.range(["#4575b4","#74add1","#abd9e9","#e0f3f8","#fee090","#fdae61","#f46d43","#d73027"])
		.domain([0,40,50,60,70,80,90,100]);

	var unemploy_color = d3.scale.threshold() .range(["#4575b4","#74add1","#abd9e9","#e0f3f8","#fee090","#fdae61","#f46d43","#d73027"])
			.domain([0,4,6,8,10,12,14,20]);

	var rental_color = d3.scale.threshold() .range(["#4575b4","#74add1","#abd9e9","#e0f3f8","#fee090","#fdae61","#f46d43","#d73027"])
			.domain([0,40,45,50,55,60,65,80]);

			var infant_color = d3.scale.threshold() .range(["#4575b4","#74add1","#abd9e9","#e0f3f8","#fee090","#fdae61","#f46d43","#d73027"])
			.domain([0,3,6,9,12,15,18,20]);

	var x = d3.scale.ordinal()
	    .rangeRoundBands([0, width], .1);
	    
    	var unemploy_x = d3.scale.ordinal()
    	    .rangeRoundBands([0, unemploy_width], .1);

        var rental_x = d3.scale.ordinal()
        	    .rangeRoundBands([0, rental_width], .1);


	            var infant_x = d3.scale.ordinal()
	            	    .rangeRoundBands([0, infant_width], .1);

	// Scales. Note the inverted domain fo y-scale: bigger is up!
	var y = d3.scale.linear()
	    .range([height, 0]);

    	var unemploy_y = d3.scale.linear()
    	    .range([unemploy_height, 0]);

        	var rental_y = d3.scale.linear()
        	    .range([rental_height, 0]);

            	var infant_y = d3.scale.linear()
            	    .range([infant_height, 0]);

	var xAxis = d3.svg.axis()
	    .scale(x)
	    .orient("bottom");

    	var unemploy_xAxis = d3.svg.axis()
    	    .scale(unemploy_x)
    	    .orient("bottom");
	    
        	var rental_xAxis = d3.svg.axis()
        	    .scale(rental_x)
        	    .orient("bottom");	    

            	var infant_xAxis = d3.svg.axis()
            	    .scale(infant_x)
            	    .orient("bottom");	    

	var yAxis = d3.svg.axis()
	    .scale(y)
	    .orient("left")
	    .tickFormat(formatScore);

    	var unemploy_yAxis = d3.svg.axis()
    	    .scale(unemploy_y)
    	    .orient("left")
    	    .tickFormat(formatPercent);
	    
        	var rental_yAxis = d3.svg.axis()
        	    .scale(rental_y)
        	    .orient("left")
        	    .tickFormat(formatPercent);	    

            	var infant_yAxis = d3.svg.axis()
            	    .scale(infant_y)
            	    .orient("left")
            	    .tickFormat(formatPercent);	    

	var tip = d3.tip()
	  .attr('class', 'd3-tip')
	  .offset([-10, 0])
	  .html(function(d) {
		  if (d.year == 1980 ){
			  var avg = 73.1
		  }
		  else {
			  var avg = 59.1
		  };		  
	    return "<strong>" + d.city + "\t" + d.year + "</strong><br/><span style='color:#fff'>Dissimilarity index: " + d.score + "</span><br/>" + d.year + " average: " + avg;
	  })
	  
  	var unemploy_tip = d3.tip()
  	  .attr('class', 'd3-tip')
  	  .offset([-10, 0])
  	  .html(function(d) {
  		  if (d.race == "White" ){
  			  var avg = 5.2
  		  }
  		  else {
  			  var avg = 11.0
  		  };		  
  	    return "<strong>" + d.city + "\t" + d.race + "</strong><br/><span style='color:#fff'>Unemployment: " + d.percent + "%</span><br/>" + d.race + " average: " + avg + "%";
  	  })
	  
    	var rental_tip = d3.tip()
    	  .attr('class', 'd3-tip')
    	  .offset([-10, 0])
    	  .html(function(d) {
    		  if (d.race == "White" ){
    			  var avg = 47.6
    		  }
    		  else {
    			  var avg = 59.7
    		  };		  
    	    return "<strong>" + d.city + "\t" + d.race + "</strong><br/><span style='color:#fff'>High-cost rental: " + d.percent + "%</span><br/>" + d.race + " average: " + avg + "%";
    	  })

      	var infant_tip = d3.tip()
      	  .attr('class', 'd3-tip')
      	  .offset([-10, 0])
      	  .html(function(d) {
      		  if (d.race == "White" ){
      			  var avg = 4.9
      		  }
      		  else {
      			  var avg = 12.9
      		  };		  
      	    return "<strong>" + d.city + "\t" + d.race + "</strong><br/><span style='color:#fff'>Rate per 1,000: " + d.rate + "</span><br/>" + d.race + " average: " + avg;
      	  })

	// csv loaded asynchronously
	d3.csv("dissimilarity.csv", type, function(data) {

	  // Data is nested by country
	  var cities = d3.nest()
	      .key(function(d) { return d.city; })
	      .entries(data);

	  // Parse dates and numbers. We assume values are sorted by date.
	  // Also compute the maximum price per symbol, needed for the y-domain.
	  // symbols.forEach(function(s) {
	  //   s.values.forEach(function(d) { d.date = parse(d.date); d.price = +d.price; });
	  //   s.maxPrice = d3.max(s.values, function(d) { return d.price; });
	  // });

	  // Compute the minimum and maximum year and percent across symbols.
	  x.domain(data.map(function(d) { return d.year; }));
	  y.domain([0, d3.max(cities, function(s) { return s.values[0].score; })]);

	  // Add an SVG element for each country, with the desired dimensions and margin.
	  var svg = d3.select("#graphic").selectAll("svg")
	    .data(cities)
	    .enter()
	    .append("svg:svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
	  .append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	  svg.append("g")
	      .attr("class", "x axis")
	      .attr("transform", "translate(0," + height + ")")
	      .call(xAxis);

	  svg.append("g")
	      // Hide y axis
	      // .attr("class", "y axis")
	      // .call(yAxis)
	    .append("text")
	    .attr("x", width / 2)
	    .attr("y", height + margin.bottom - 20)
	    .attr("dy", ".71em")
	    .attr("text-anchor", "middle")
	    .attr("font-size", "1.1em")
	    .text(function(d) { return d.key});

	  // Accessing nested data: https://groups.google.com/forum/#!topic/d3-js/kummm9mS4EA
	  // data(function(d) {return d.values;}) 
	  // this will dereference the values for nested data for each group
	  svg.selectAll(".bar")
	      .data(function(d) {return d.values;})
	      .enter()
	      .append("rect")
	      .attr("class", "bar")
	      .attr("x", function(d) { return x(d.year); })
	      .attr("width", x.rangeBand())
	      .attr("y", function(d) { return y(d.score); })
	      .attr("height", function(d) { return height - y(d.score); })
	      .attr("fill", function(d) {return color(d.score)})
	      .on('mouseover', tip.show)
	      .on('mouseout', tip.hide)
		  
		  svg.call(tip);
		  
		  var average = [{"year":"1980","score":"73.1"},{"year":"2010","score":"59.1"}];
		  
		  svg.selectAll(".avg")
		  .data(average)
		  .enter()
		  .append("line")
		  .attr("class", "avg")
		  .attr("x1", function(d) { return x(d.year); })
		  .attr("x2", function(d) { return x(d.year) + x.rangeBand();})
		  .attr("y1", function(d) { return y(d.score); })
		  .attr("y2", function(d) { return y(d.score); });
		  

	});
	
	d3.csv("unemployment.csv", unemploy_type, function(data) {

	  // Data is nested by country
	  var unemploy_cities = d3.nest()
	      .key(function(d) { return d.city; })
	      .entries(data);

	  // Parse dates and numbers. We assume values are sorted by date.
	  // Also compute the maximum price per symbol, needed for the y-domain.
	  // symbols.forEach(function(s) {
	  //   s.values.forEach(function(d) { d.date = parse(d.date); d.price = +d.price; });
	  //   s.maxPrice = d3.max(s.values, function(d) { return d.price; });
	  // });

	  // Compute the minimum and maximum race and percent across symbols.
	  unemploy_x.domain(data.map(function(d) { return d.race; }));
	  unemploy_y.domain([0, 15]);

	  // Add an SVG element for each country, with the desired dimensions and margin.
	  var unemploy_svg = d3.select("#unemployment").selectAll("svg")
	    .data(unemploy_cities)
	    .enter()
	    .append("svg:svg")
	    .attr("width", unemploy_width + unemploy_margin.left + unemploy_margin.right)
	    .attr("height", unemploy_height + unemploy_margin.top + unemploy_margin.bottom)
	  .append("g")
	    .attr("transform", "translate(" + unemploy_margin.left + "," + unemploy_margin.top + ")");

	  unemploy_svg.append("g")
	      .attr("class", "x axis")
	      .attr("transform", "translate(0," + unemploy_height + ")")
	      .call(unemploy_xAxis);

	  unemploy_svg.append("g")
	      // Hide y axis
	      // .attr("class", "y axis")
	      // .call(yAxis)
	    .append("text")
	    .attr("x", unemploy_width / 2)
	    .attr("y", unemploy_height + unemploy_margin.bottom - 20)
	    .attr("dy", ".71em")
	    .attr("text-anchor", "middle")
	    .attr("font-size", "1.1em")
	    .text(function(d) { return d.key});

	  // Accessing nested data: https://groups.google.com/forum/#!topic/d3-js/kummm9mS4EA
	  // data(function(d) {return d.values;}) 
	  // this will dereference the values for nested data for each group
	  unemploy_svg.selectAll(".bar")
	      .data(function(d) {return d.values;})
	      .enter()
	      .append("rect")
	      .attr("class", "bar")
	      .attr("x", function(d) { return unemploy_x(d.race); })
	      .attr("width", unemploy_x.rangeBand())
	      .attr("y", function(d) { return unemploy_y(d.percent); })
	      .attr("height", function(d) { return unemploy_height - unemploy_y(d.percent); })
	      .attr("fill", function(d) {return unemploy_color(d.percent)})
	      .on('mouseover', unemploy_tip.show)
	      .on('mouseout', unemploy_tip.hide)
		  
		  unemploy_svg.call(unemploy_tip);
		  
		  var unemploy_average = [{"race":"White","percent":"5.2"},{"race":"Black","percent":"11.0"}];
		  
		  unemploy_svg.selectAll(".avg")
		  .data(unemploy_average)
		  .enter()
		  .append("line")
		  .attr("class", "avg")
		  .attr("x1", function(d) { return unemploy_x(d.race); })
		  .attr("x2", function(d) { return unemploy_x(d.race) + unemploy_x.rangeBand();})
		  .attr("y1", function(d) { return unemploy_y(d.percent); })
		  .attr("y2", function(d) { return unemploy_y(d.percent); });
		  

	});


	d3.csv("rental.csv", rental_type, function(data) {

	  // Data is nested by country
	  var rental_cities = d3.nest()
	      .key(function(d) { return d.city; })
	      .entries(data);

	  // Parse dates and numbers. We assume values are sorted by date.
	  // Also compute the maximum price per symbol, needed for the y-domain.
	  // symbols.forEach(function(s) {
	  //   s.values.forEach(function(d) { d.date = parse(d.date); d.price = +d.price; });
	  //   s.maxPrice = d3.max(s.values, function(d) { return d.price; });
	  // });

	  // Compute the minimum and maximum race and percent across symbols.
	  rental_x.domain(data.map(function(d) { return d.race; }));
	  rental_y.domain([0, 70]);

	  // Add an SVG element for each country, with the desired dimensions and margin.
	  var rental_svg = d3.select("#rental").selectAll("svg")
	    .data(rental_cities)
	    .enter()
	    .append("svg:svg")
	    .attr("width", rental_width + rental_margin.left + rental_margin.right)
	    .attr("height", rental_height + rental_margin.top + rental_margin.bottom)
	  .append("g")
	    .attr("transform", "translate(" + rental_margin.left + "," + rental_margin.top + ")");

	  rental_svg.append("g")
	      .attr("class", "x axis")
	      .attr("transform", "translate(0," + rental_height + ")")
	      .call(rental_xAxis);

	  rental_svg.append("g")
	      // Hide y axis
	      // .attr("class", "y axis")
	      // .call(yAxis)
	    .append("text")
	    .attr("x", rental_width / 2)
	    .attr("y", rental_height + rental_margin.bottom - 20)
	    .attr("dy", ".71em")
	    .attr("text-anchor", "middle")
	    .attr("font-size", "1.1em")
	    .text(function(d) { return d.key});

	  // Accessing nested data: https://groups.google.com/forum/#!topic/d3-js/kummm9mS4EA
	  // data(function(d) {return d.values;}) 
	  // this will dereference the values for nested data for each group
	  rental_svg.selectAll(".bar")
	      .data(function(d) {return d.values;})
	      .enter()
	      .append("rect")
	      .attr("class", "bar")
	      .attr("x", function(d) { return rental_x(d.race); })
	      .attr("width", rental_x.rangeBand())
	      .attr("y", function(d) { return rental_y(d.percent); })
	      .attr("height", function(d) { return rental_height - rental_y(d.percent); })
	      .attr("fill", function(d) {return rental_color(d.percent)})
	      .on('mouseover', rental_tip.show)
	      .on('mouseout', rental_tip.hide)
		  
		  rental_svg.call(rental_tip);
		  
		  var rental_average = [{"race":"White","percent":"47.6"},{"race":"Black","percent":"59.7"}];
		  
		  rental_svg.selectAll(".avg")
		  .data(rental_average)
		  .enter()
		  .append("line")
		  .attr("class", "avg")
		  .attr("x1", function(d) { return rental_x(d.race); })
		  .attr("x2", function(d) { return rental_x(d.race) + rental_x.rangeBand();})
		  .attr("y1", function(d) { return rental_y(d.percent); })
		  .attr("y2", function(d) { return rental_y(d.percent); });
		  

	});
	
	d3.csv("infant-mortality.csv", infant_type, function(data) {

	  // Data is nested by country
	  var infant_cities = d3.nest()
	      .key(function(d) { return d.city; })
	      .entries(data);

	  // Parse dates and numbers. We assume values are sorted by date.
	  // Also compute the maximum price per symbol, needed for the y-domain.
	  // symbols.forEach(function(s) {
	  //   s.values.forEach(function(d) { d.date = parse(d.date); d.price = +d.price; });
	  //   s.maxPrice = d3.max(s.values, function(d) { return d.price; });
	  // });

	  // Compute the minimum and maximum race and percent across symbols.
	  infant_x.domain(data.map(function(d) { return d.race; }));
	  infant_y.domain([0, 18]);

	  // Add an SVG element for each country, with the desired dimensions and margin.
	  var infant_svg = d3.select("#infant").selectAll("svg")
	    .data(infant_cities)
	    .enter()
	    .append("svg:svg")
	    .attr("width", infant_width + infant_margin.left + infant_margin.right)
	    .attr("height", infant_height + infant_margin.top + infant_margin.bottom)
	  .append("g")
	    .attr("transform", "translate(" + infant_margin.left + "," + infant_margin.top + ")");

	  infant_svg.append("g")
	      .attr("class", "x axis")
	      .attr("transform", "translate(0," + infant_height + ")")
	      .call(infant_xAxis);

	  infant_svg.append("g")
	      // Hide y axis
	      // .attr("class", "y axis")
	      // .call(yAxis)
	    .append("text")
	    .attr("x", infant_width / 2)
	    .attr("y", infant_height + infant_margin.bottom - 20)
	    .attr("dy", ".71em")
	    .attr("text-anchor", "middle")
	    .attr("font-size", "1.1em")
	    .text(function(d) { return d.key});

	  // Accessing nested data: https://groups.google.com/forum/#!topic/d3-js/kummm9mS4EA
	  // data(function(d) {return d.values;}) 
	  // this will dereference the values for nested data for each group
	  infant_svg.selectAll(".bar")
	      .data(function(d) {return d.values;})
	      .enter()
	      .append("rect")
	      .attr("class", "bar")
	      .attr("x", function(d) { return infant_x(d.race); })
	      .attr("width", infant_x.rangeBand())
	      .attr("y", function(d) { return infant_y(d.rate); })
	      .attr("height", function(d) { return infant_height - infant_y(d.rate); })
	      .attr("fill", function(d) {return infant_color(d.rate)})
	      .on('mouseover', infant_tip.show)
	      .on('mouseout', infant_tip.hide)
		  
		  infant_svg.call(infant_tip);
		  
		  var infant_average = [{"race":"White","rate":"4.9"},{"race":"Black","rate":"12.9"}];
		  
		  infant_svg.selectAll(".avg")
		  .data(infant_average)
		  .enter()
		  .append("line")
		  .attr("class", "avg")
		  .attr("x1", function(d) { return infant_x(d.race); })
		  .attr("x2", function(d) { return infant_x(d.race) + infant_x.rangeBand();})
		  .attr("y1", function(d) { return infant_y(d.rate); })
		  .attr("y2", function(d) { return infant_y(d.rate); });
		  

	});
	
	function type(d) {
	  d.score = +d.score;
	  return d;
	}
	
	function unemploy_type(d) {
	  d.percent = +d.percent;
	  return d;
	}
	
	function rental_type(d) {
	  d.percent = +d.percent;
	  return d;
	}
	
	function infant_type(d) {
	  d.rate = +d.rate;
	  return d;
	}

	</script>

    <script src="js/lib/jquery.js" type="text/javascript"></script>
    <script src="js/lib/pym.js" type="text/javascript"></script>
    <script src="js/graphic.js" type="text/javascript"></script>
</body>
</html>
