{% extends 'base_template.html' %}

{% block content %}

{% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
{% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

{% if COPY.labels.hdr_when %}
        <h2>Grow Missouri: $15.07 million</h2>
        {{ COPY.labels.hdr_when }}
{% endif %}

{% if COPY.labels.hdr_what %}
        <h2>Moelis & Company: $12.25 million</h2>
        {{ COPY.labels.hdr_what }}
{% endif %}


{% if COPY.labels.hdr_where %}
        <h2>McKenna & Associates: $16.68 million</h2>
        {{ COPY.labels.hdr_where }}
{% endif %}


{% if COPY.labels.hdr_more_info %}
        <p></p>
        <h3>{{ COPY.labels.hdr_more_info }}</h3>
{% endif %}


{% if COPY.labels.footnote %}
<div class="footnotes">
    <h4>Notes</h4>
    <p>{{ COPY.labels.footnote|smarty }}</p>
</div>
{% endif %}

<div class="footer">
    {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
    {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
</div>

{% endblock content %}
