{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    <div id="graphic" class="graphic">
        <div class="step odd">
            <h5>Step One</h5>
            <h2>Understanding the Mediation Process</h2>
            <ul>
                <li>The mediators explain how the process is going to work and outline the ground rules, which include no name-calling or interrupting.</li>
                <li>The two parties sign an agreement to follow the ground rules.</li>
            </ul>
        </div>
        <div class="spacer odd"></div>
        <div class="step even">
                <h5>Step Two</h5>
                <h2>Presentation of Viewpoints</h2>
                <ul>
                    <li>Each person explains the situation from their perspective. The other person is not allowed to interrupt.</li>
                    <li>There is no set time for how long this lasts, but mediators will generally try to move along once the first person begins repeating himself or herself.</li>
                </ul>
        </div>
        <div class="spacer even"></div>
        
        <div class="step odd">
                <h5>Step Three</h5>
                <h2>Identify Possible Solutions</h2>
                <ul>
                    <li>Each person explains what they think would help the situation. The moderators write down all suggestions without judgment.</li>
                </ul>
        </div>
        <div class="spacer odd"></div>
        
        <div class="step even">
                <h5>Step Four</h5>
                <h2>Evaluate Alternative Solutions</h2>
                <ul>
                    <li>The two people go down the list and determine what is possible and acceptable for them as a way to address the situation.</li>
                </ul>
        </div>
        <div class="spacer even"></div>
        
        <div class="step odd">
                <h5>Step Five</h5>
                <h2>Draft Agreement</h2>
                <ul>
                    <li>The mediators write down the solutions the two parties can agree to exactly in their words. “Sometimes it’s as simple as exchanging phone numbers and promising to speak to each other in a respectful way prior to making a phone call to the police,” said Jane Southerd, who has been mediating in St. Louis since 2013.</li>
                    <li>The suggestions must include a deadline — as in, within 10 days, we will exchange numbers.</li>   
                </ul>
        </div>
        <div class="spacer odd"></div>
     
        <div class="step last">
                <h5>Step Six</h5>
                <h2>Complete Forms and Close Mediation</h2>
                <ul>
                    <li>The two parties sign the agreement, although because the process is confidential, there isn’t much opportunity for follow-up.</li>
                </ul>
        </div>

    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
