{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    <div id="graphic" class="graphic">
    
        {% for row in COPY.data %}
        <div class="plant">
            <img class="map" src="assets/{{row.key}}.jpg">
            <div class="info">
                <h1>{{ row.name }}</h1>
                <h2>{{ row.company }}</h2>
                <h2>Near: {% if row.water %}{{ row.water }}{% else %}None{% endif %}</h2>
            </div>
            <img class="locator" src="assets/{{row.key}}_locator.png">
        </div>

        {% endfor %}
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
