{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    <div id="graphic" class="graphic" role="img">
    <div class="flex-container">
    <div class="column">
        <h2>Counties</h2>

        <ul>
            <li>Andrew
            </li><li>Bates
            </li><li>Boone
            </li><li>Caldwell
            </li><li>Cass
            </li><li>Chariton
            </li><li>Christian
            </li><li>Clay
            </li><li>Clinton
            </li><li>Cole
            </li><li>Crawford
            </li><li>Dade
            </li><li>Gasconade
            </li><li>Greene
            </li><li>Harrison
            </li><li>Iron
            </li><li>Jackson
            </li><li>Jefferson
            </li>
        </ul>
    </div><div class="column">
    <h2 class="hidden">Counties J-Z</h2>
        <ul>

            <li>Johnson
            </li><li>Lafayette
            </li><li>Lincoln
            </li><li>Linn
            </li><li>McDonald
            </li><li>Osage
            </li><li>Perry
            </li><li>Platte
            </li><li>Randolph
            </li><li>Ray
            </li><li>Scott
            </li><li>St. Charles
            </li><li>St. Francois
            </li><li>St. Louis
            </li>
            <li>St. Louis City
            </li><li>Stoddard
            </li><li>Vernon
            </li><li>Webster
            </li>
        </ul>
    </div>
        <div class="column">
        <h2>Cities</h2>

        <ul>
            <li>Branson</li>
            <li>Hannibal</li>
            <li>Kansas City</li>
            <li>Maryville </li>
            <li>Rolla</li>
            <li>St. Joseph</li>
            <li>West Plains</li>
        </ul>
    </div>
</div>
    </div>



    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
