{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed) }}</p>{% endif %}

    <div class="graphic">
        <table id="step-table">


            {% for row in COPY.data %}
            <tr class="step-{{ loop.index }}">
                <td colspan="3" class="step" data-title="Step">{{ row.step }} {% if row.description %}<p>{{ row.description }}</p>{% endif %}</td>
            </tr>
            <tr>
                <th class="disease">
                    <div class="header">{{ COPY.labels.hdr_disease }}</div>
                </th>
                <th class="car">
                    <div class="header">{{ COPY.labels.hdr_car }}</div>
                </th>
                <th class="gun">
                    <div class="header">{{ COPY.labels.hdr_gun }}</div>
                </th>
            </tr>
            <tr class="step-{{ loop.index }}">
                <td data-title="{{ COPY.labels.hdr_disease }}">{{ row.disease }}</td>
                <td data-title="{{ COPY.labels.hdr_car }}">{{ row.car }}</td>
                <td data-title="{{ COPY.labels.hdr_gun }}">{{ row.gun }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit }}</p>{% endif %}
    </div>

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/pym.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
