{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<div class="subhed">{{ render(COPY.labels.subhed)|smarty }}</div>{% endif %}

            <div class="line">{{"<i class='total fa fa-male fa-2x fa-fw'></i>" * 10}}</div>
            <div class="line">{{"<i class='total fa fa-male fa-2x fa-fw'></i>" * 10}}</div>
            <div class="line">{{"<i class='total fa fa-male fa-2x fa-fw'></i>" * 10}}</div>
            <div class="line">{{"<i class='total fa fa-male fa-2x fa-fw'></i>" * 10}}</div>
            <div class="line">{{"<i class='total fa fa-male fa-2x fa-fw'></i>" * 10}}</div>
            <div class="line">{{"<i class='total fa fa-male fa-2x fa-fw'></i>" * 10}}</div>
            <div class="line">{{"<i class='total fa fa-male fa-2x fa-fw'></i>" * 2}}{{"<i class='eligible fa fa-male fa-2x fa-fw'></i>" * 5}}{{"<i class='hearings fa fa-male fa-2x fa-fw'></i>" * 3}}</div>
            <div class="line">{{"<i class='hearings fa fa-male fa-2x fa-fw'></i>" * 10}}</div>
            <div class="line">{{"<i class='hearings fa fa-male fa-2x fa-fw'></i>" * 10}}</div>
            <div class="line">{{"<i class='hearings fa fa-male fa-2x fa-fw'></i>" * 1}}{{"<i class='dates fa fa-male fa-2x fa-fw'></i>" * 3}}</div>




    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
