{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    <div class="legend">
        <span><i style="background: #006400;"></i> Trail extension</span> <span><i style="background: #000;"></i> Old trail</span>
    </div>

    <div id="graphic" class="graphic" role="img"
    {% if COPY.labels.screenreader %}
    aria-label="{{ COPY.labels.screenreader|forceescape }}"
    {% endif %}
    >
        <img src="fallback.png" alt="" class="fallback" />
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
