{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}


    <div class="key">
        <div class="key-item"><div class="color color-0"></div><p>< -5%</p></div>
        <div class="key-item"><div class="color color-1"></div><p>-5% – 0%</p></div>
        <div class="key-item"><div class="color color-2"></div><p>0% – 5%</p></div>
        <div class="key-item"><div class="color color-3"></div><p>5% – 10%</p></div>
        <div class="key-item"><div class="color color-4"></div><p>10% – 15%</p></div>
        <div class="key-item"><div class="color color-5"></div><p>> 15%</p></div>
    </div>

    <div class="graphic">
        <table id="state-table">
            <thead>
                <tr>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_district }}</div>
                    </th>
                    <th class="amt">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_year1 }}</div>
                    </th>
                    <th class="amt">
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_year2 }}</div>
                    </th>
                </tr>
            </thead>

            {% for row in COPY.data %}
            <tr class="{{ row.district|classify }}">
                <td data-title="{{ COPY.labels.hdr_district }}">{{ row.district }}</td>
                <td data-title="{{ COPY.labels.hdr_year1 }}" class="amt color-{{ row.year1_color }}">{% if row.year1 != '*' %}{{ row.year1|float()|round(2) }}{% else %}*{% endif %}</td>
                <td data-title="{{ COPY.labels.hdr_year2 }}" class="amt color-{{row.year2_color}}">{{ row.year2|float()|round(2) }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/tablesort.js') }}
    {{ JS.push('js/lib/tablesort.numeric.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
