{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}

    {% for row in COPY.cases %}
        <div class="case">
            <h2>{{ row.year }}</h2>
            <h3>{{ row.case }}</h3>
            <p>{{ row.description }}<p>
        </div>
    {% endfor%}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
