{% extends 'base_template.html' %}

{% block content %}
<div class="full">

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed) }}</p>{% endif %}
    {% for row in COPY.methods %}
      <div class="method">
        <div class="key {{ row.class }}" id="key-right">&nbsp;</div>
          <div class="key {{ row.class }}" id="key-left">&nbsp;</div>
          <div class="key-text">
            <h2>{{ row.hed }}</h2>
            <p>{{ row.text }}</p>
          </div>
      </div>
      {% endfor %}
<div id="graphic">
    <div id='g-fairstlmap-Artboard_1' class='g-artboard '>
  		<div id='g-fairstlmap-Artboard_1-graphic'>
  			<img id='g-ai0-0'
  				class='g-aiImg'
  				src='./assets/fairstlmap.png'
  				/>
  			<div id='g-ai0-1' class='g-text-small g-aiAbs' style='top:6.6092%;left:22.9167%;'>
  				<p class='g-aiPstyle0'>Metrolink Blue Line</p>
  				<p class='g-aiPstyle0'>(Skinker)</p>
  			</div>
  			<div id='g-ai0-2' class='g-text-small g-aiAbs' style='top:12.5000%;left:49.4167%;'>
  				<p class='g-aiPstyle0'>Metrolink Red Line</p>
  				<p class='g-aiPstyle0'>(Forest Park)</p>
  			</div>
  			<div id='g-ai0-3' class='g-text g-aiAbs' style='top:23.2759%;left:10.0000%;width:14.6667%;margin-left:-7.3333%;'>
  				<p class='g-aiPstyle1'>Washington University:</p>
  				<p class='g-aiPstyle1'>Lot off Skinker;</p>
  				<p class='g-aiPstyle1'>northwest garage;</p>
  				<p class='g-aiPstyle1'>southwest lot</p>
  			</div>
  			<div id='g-ai0-4' class='g-text-small g-aiAbs' style='top:23.8506%;left:23.2500%;'>
  				<p class='g-aiPstyle0'>Bike Valet</p>
  			</div>
  			<div id='g-ai0-5' class='g-text-small g-aiAbs' style='top:25.8621%;left:66.5833%;'>
  				<p class='g-aiPstyle0'>Park Entrance</p>
  				<p class='g-aiPstyle0'>(Union/Lindell)</p>
  			</div>
  			<div id='g-ai0-6' class='g-text-small g-aiAbs' style='top:33.7644%;left:42.5833%;'>
  				<p class='g-aiPstyle0'>Bike Valet</p>
  			</div>
  			<div id='g-ai0-7' class='g-text g-aiAbs' style='top:39.2241%;left:46.8750%;width:7.0833%;margin-left:-3.5417%;'>
  				<p class='g-aiPstyle1'>Langenberg Field</p>
  			</div>
  			<div id='g-ai0-8' class='g-text-small g-aiAbs' style='top:41.6667%;left:61.4167%;'>
  				<p class='g-aiPstyle0'>Free shuttles</p>
  			</div>
  			<div id='g-ai0-9' class='g-text g-aiAbs' style='top:51.7241%;left:57.1250%;width:7.0833%;margin-left:-3.5417%;'>
  				<p class='g-aiPstyle1'>Upper MUNY Lot</p>
  			</div>
  			<div id='g-ai0-10' class='g-text g-aiAbs' style='top:51.7241%;left:65.4167%;width:7.0833%;margin-left:-3.5417%;'>
  				<p class='g-aiPstyle1'>Central Fields</p>
  			</div>
  			<div id='g-ai0-11' class='g-text-small g-aiAbs' style='top:53.5920%;right:65.5833%;'>
  				<p class='g-aiPstyle2'>Bike Self-Park</p>
  			</div>
  			<div id='g-ai0-12' class='g-text g-aiAbs' style='top:59.7701%;left:32.8750%;width:7.0833%;margin-left:-3.5417%;'>
  				<p class='g-aiPstyle1'>Zoo North</p>
  			</div>
  			<div id='g-ai0-13' class='g-text-small g-aiAbs' style='top:59.9138%;left:40.8333%;'>
  				<p class='g-aiPstyle0'>Free shuttles</p>
  			</div>
  			<div id='g-ai0-14' class='g-text g-aiAbs' style='top:65.3736%;left:90.7917%;width:16.2500%;margin-left:-8.1250%;'>
  				<p class='g-aiPstyle1'>Central West End:</p>
  				<p class='g-aiPstyle1'>Newstead & Duncan/Clayton</p>
  			</div>
  			<div id='g-ai0-15' class='g-text-small g-aiAbs' style='top:78.1609%;right:55.7500%;'>
  				<p class='g-aiPstyle2'>Park Entrance</p>
  				<p class='g-aiPstyle2'>(Hampton)</p>
  			</div>
  			<div id='g-ai0-16' class='g-text g-aiAbs' style='top:83.7644%;left:57.6250%;width:16.2500%;margin-left:-8.1250%;'>
  				<p class='g-aiPstyle1'>St. Louis Community College - Forest Park</p>
  			</div>
  		</div>
  	</div>
  </div>
    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit }}</p>{% endif %}
    </div>
</div>
{% endblock content %}
