{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    <div class="graphic">
        <table id="state-table">
            <thead>
                <tr>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_state }}</div>
                    </th>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_casinos }}</div>
                    </th>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_casino_revenue }}</div>
                    </th>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_lottery_revenue }}</div>
                    </th>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_problem_gambling }}</div>
                    </th>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_problem_gambling_spending }}</div>
                    </th>
                    <th>
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_problem_gambling_spending_per_capita }}</div>
                    </th>
                    <!-- <th>
                        <div class="sorter"><div class="icon"></div></div>
                        <div class="header">{{ COPY.labels.hdr_notes }}</div>
                    </th> -->
                </tr>
            </thead>

            {% for row in COPY.data %}
            <tr class="state-{{ row.name|classify }}">
                <td data-title="{{ COPY.labels.hdr_state }}"><span class="table-bold">{{ row.name }}</span></td>
                <td data-title="{{ COPY.labels.hdr_casinos }}">{{ row.casinos | int }}</td>
                <td data-sort="{{row.casino_revenue}}" data-title="{{ COPY.labels.hdr_casino_revenue }}">{{ row.casino_revenue | money }}<span class="table-footnote">{{row.casino_revenue_footnote}}</span></td>
                <td data-sort="{{row.lottery_revenue}}" data-title="{{ COPY.labels.hdr_lottery_revenue }}">{{ row.lottery_revenue | money }}</td>
                <td data-title="{{ COPY.labels.hdr_problem_gambling }}">{{ row.problem_gambling | pct }}</td>
                <td data-sort="{{ row.problem_gambling_spending }}" data-title="{{ COPY.labels.hdr_problem_gambling_spending }}">{{ row.problem_gambling_spending | money }}</td>
                <td data-title="{{ COPY.labels.hdr_problem_gambling_spending_per_capita }}">{{ row.problem_gambling_spending_per_capita | money }}</td>
                <!-- <td data-title="{{ COPY.labels.hdr_notes }}">{{ row.notes }}</td> -->
            </tr>
            {% endfor %}

        </table>
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/tablesort.js') }}
    {{ JS.push('js/lib/tablesort.numeric.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
