{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}
    
    <div class="box">

    {% for item in COPY.data %}
     
        <strong>
           <p>{{item.text}}</p>
        </strong>

            <p>
                {{item.link_text}}
            </p>

        {% endfor %}

        {% if COPY.labels.footnote %}
        <div class="footnotes">
            <h3>Notes</h3>
            <p>{{ COPY.labels.footnote|smarty }}</p>
        </div>
        {% endif %}

        <div class="footer">
            {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
            {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
        </div>
    </div>

{% endblock content %}
