{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    <div id="graphic" class="graphic">
        <div class="key">
            <p><span class="under-60">{{ '&#9632;' }}</span>= {{ "{:,.0f}".format(COPY.data.scale.value|int) }} Missouri residents under age 60</p>
            <p><span class="over-60">{{ '&#9632;' }}</span>= {{ "{:,.0f}".format(COPY.data.scale.value|int) }} Missouri residents over age 60; natural-born citizen</p>
            <p><span class="over-60-naturalized">{{ '&#9632;' }}</span>= {{ "{:,.0f}".format(COPY.data.scale.value|int) }} Missouri residents over age 60; naturalized citizen</p>
            <p><span class="over-60-non-citizen">{{ '&#9632;' }}</span>= {{ "{:,.0f}".format(COPY.data.scale.value|int) }} Missouri residents over age 60; not a citizen</p>
        </div>
        <span class="under-60">{{ '&#9632; ' * (COPY.data.under_60.value|int / COPY.data.scale.value|int)|int }}</span>
        <span class="over-60">{{ '&#9632; ' * (COPY.data.over_60_native.value|int / COPY.data.scale.value|int)|int }}</span><span class="over-60-naturalized">{{ '&#9632; ' * (COPY.data.over_60_naturalized.value|int / COPY.data.scale.value|int)|int }}</span><span class="over-60-non-citizen">{{ '&#9632; ' * (COPY.data.over_60_non_citizen.value|int / COPY.data.scale.value|int)|int }}</span>
    </div>
    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
