{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    <div class="stories">
        
        <p>
            <h2>The latest:</h2>
            <a href="http://news.stlpublicradio.org/post/epa-proposes-partial-removal-west-lake-landfill-nuclear-waste#stream/0">EPA proposes partial removal of West Lake Landfill nuclear waste</a><br>
            <a href="http://news.stlpublicradio.org/post/west-lake-landfill-epa-proposal-latest-chapter-long-troubled-history">West Lake Landfill proposal is latest chapter in long, troubled history</a>
        </p>

        
        <p>
            <h2>More background:</h2>
            <a href="http://news.stlpublicradio.org/post/confused-about-bridgeton-west-lake-landfills-heres-what-you-should-know#stream/0">Frequently asked questions</a><br>
            <a href="http://news.stlpublicradio.org/post/some-pleased-others-dismayed-epa-plan-clean-west-lake-landfill#stream/0">Reactions to EPA plan</a><br>
            <a href="http://news.stlpublicradio.org/post/whats-next-west-lake-landfill#stream/0">What happens next?</a>
        </p>

        
        <p>
            <h2>Public comments:</h2>
            <a href="http://news.stlpublicradio.org/post/west-lake-landfill-how-submit-feedback-epa-cleanup-plan#stream/0">How to submit feedback on EPA cleanup plan</a>
        </p>
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
