{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed) }}</p>{% endif %}

    <div id="graphic">
        {% for row in COPY.data %}
        <div class="section row">
            <div class="col-xs-12">
                <p class="question">{{ row.question }}</p>
            </div>
            <div class="answers">
                <div class="col-sm-6 col-md-3">
                    <button type="button" class="btn btn-default btn-block answer_1 {% if row.ans_1_true %}correct{% else %}incorrect{% endif %}"><i class="fa {% if row.ans_1_true %}fa-check{% else %}fa-times{% endif %}"></i> {{ row.ans_1 }}</button>
                </div>
                <div class="col-sm-6 col-md-3">
                    <button type="button" class="btn btn-default btn-block answer_2 {% if row.ans_2_true %}correct{% else %}incorrect{% endif %}"><i class="fa {% if row.ans_2_true %}fa-check{% else %}fa-times{% endif %}"></i> {{ row.ans_2 }}</button>
                </div>
                <div class="col-sm-6 col-md-3">
                    <button type="button" class="btn btn-default btn-block answer_3 {% if row.ans_3_true %}correct{% else %}incorrect{% endif %}"><i class="fa {% if row.ans_3_true %}fa-check{% else %}fa-times{% endif %}"></i> {{ row.ans_3 }}</button>
                </div>
                <div class="col-sm-6 col-md-3">
                    <button type="button" class="btn btn-default btn-block answer_4 {% if row.ans_4_true %}correct{% else %}incorrect{% endif %}"><i class="fa {% if row.ans_4_true %}fa-check{% else %}fa-times{% endif %}"></i> {{ row.ans_4 }}</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit }}</p>{% endif %}
    </div>

{% endblock content %}
