{% extends 'base_template.html' %} {% block content %}

<div id="graphic" class="graphic container">
    <div class="row">
        <div id="main-content" class="col-md-12">
            <img class="img-responsive" src="./assets/header.png" data-rjs="3">
            <p class="lead">{{ COPY.labels.subhed }}</p>

            {% for story in COPY.data | reverse() %}
                {% if loop.index <= 3 %}
                <div class="row">
                    <div class="image col-sm-1 col-xs-3">
                        <img class="img-responsive" src="./assets/{{ story.topic }}.png" data-rjs="3">
                    </div>
                    <div class="hed col-sm-11 col-xs-9">
                        <h1><a href="{{story.link}}">{{ story.month }}/{{ story.day }}: {{ story.hed }}</a></h1>
                    </div>
                </div>
                {% endif %}
            {% endfor %}

            <a class="btn btn-lg btn-block btn-default" href="http://news.stlpublicradio.org/post/latest-coverage-st-louis-elections">See all our election coverage</a>
        </div>
    </div>
</div>

{% endblock content %}
