{% extends 'base_template.html' %}

{% block content %}
<div class="center">
    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<p>{{ render(COPY.labels.subhed)|smarty }}</p>{% endif %}

    {% for group in COPY.people|groupby("group") %}

        {% if group.grouper %}
            <div id="teambox"><h1>{{group.grouper}}</h1></div>
        {% endif %}

        {% for person in group.list %}

        <div class="minibio">
            <img class="headshot" src="{{person.photo}}"></img>
            <h3>{{person.name}}</h3>
            <h4>{{person.title}}</h4>
            <h5>{{person.employer}}</h5>
            <!-- <h6>{{person.age|int}}</h6> -->
            {{person.bio}}
        </div>
        {% endfor %}

    {% endfor %}

</div>


    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h3>Notes</h3>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Photo Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
